<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>DeMoment</title>
    <link rel="stylesheet" href="/static/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&amp;display=swap">
    <link rel="stylesheet" href="/static/assets/fonts/fontawesome-all.min.css">
</head>

<body id="page-top" style="background: #353535;">
    <div id="wrapper">
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content" style="background: #353535;">
                <nav class="navbar navbar-light navbar-expand shadow mb-4 topbar static-top" style="background: #5a2e98;--bs-body-bg: #5a2e98;">
                    <div class="container-fluid">
                        <h1 style="color: #aaaaaa;"><a href="/" style="color: #aaaaaa; text-decoration: none">DeMoment</a></h1>
{#                        <h1 style="color: #aaaaaa; vertical-align: center">{{ chain_name }}</h1>#}
                        <ul class="navbar-nav flex-nowrap ms-auto">
                            <li class="nav-item dropdown no-arrow">
                                <a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown">
                                    {% if show_login_button == False %}
                                        <span class="d-none d-lg-inline me-2 text-gray-600 small" style="color: #aaaaaa;">{{ username }}</span>
                                        <img class="border rounded-circle img-profile" src="{{ photo_url }}" alt="Profile Photo" />
                                    {% else %}
                                        <button class="btn btn-primary" onclick="login();" style="background: #834fd6;border-color: #834fd6;">Login</button>
                                    {% endif %}
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>
                <div class="container-fluid">
                    <h2 style="text-align: center;color: #aaaaaa;">
                        <strong>{{ chain_name }}</strong>
                    </h2>
                </div>
                <div class="container" style="background: #353535;">
                    <div class="row">
                        <div class="col-md-4 col-xl-3">
                            <div class="card" style="border-color: #1c1c1c;">
                                <div class="card-body" style="background: #1c1c1c;">
                                    <h4 class="card-title" style="color: #aaaaaa;">Top Chains</h4>
                                    <h6 class="text-muted card-subtitle mb-2"></h6>
                                    <ol style="color: #aaaaaa;">
                                        <li><a href="/chain/deso">DeSo</a></li>
                                        <li><a href="/chain/python">Python</a></li>
                                        <li><a href="/chain/javascript">JavaScript</a></li>
                                        <li><a href="/chain/mlh">MLH</a></li>
                                        <li><a href="/chain/hacking">Ethical Hacking</a></li>
                                        <li><a href="/chain/unix">Unix</a></li>
                                        <li><a href="/chain/gamedev">Game Dev</a></li>
                                        <li><a href="/chain/cooking">Cooking</a><br></li>
                                        <li><a href="/chain/bootstrap">Bootstrap</a></li>
                                        <li><a href="/chain/jstris">Anime</a></li>
                                        <li><a href="/chain/jstris">Jstris</a></li>
                                        <li><a href="/chain/jstris">Jstris</a></li>
                                        <li><a href="/chain/jstris">Jstris</a></li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-xl-6" style="color: #aaaaaa">
                            <div class="card" style="background: #1c1c1c;border-color: #1c1c1c;">
                                <div class="card-body">
                                    <div class="mb-3">
                                        <label class="form-label" for="post_title">
                                            <strong>Title</strong>
                                        </label>
                                        <input id="post_title" class="form-control" type="text" placeholder="Title" name="post_title" required="required" data-error="Title is required." style="background: #2e2e2e;border-color: #2e2e2e;" />
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="mb-3">
                                                <label class="form-label" for="post_content">
                                                    <strong>Post</strong>
                                                </label>
                                                <textarea id="post_content" class="form-control" type="text" placeholder="Message" name="post_content" rows="4" required="required" data-error="Message is required." style="background-color: #2e2e2e; border-color: #2e2e2e; resize: none;"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <button class="btn btn-primary" onclick="new_post();" style="background: #834fd6;border-color: #834fd6;">Post</button>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            {% for post in posts %}
                                {% set user = deso.User() %}
                                {% set profile_info = user.getSingleProfile(publicKey=post['public_key']).json() %}
                                <div class="card" style="background: #1c1c1c;border-color: #1c1c1c;">
                                    <div class="card-body">
{#                                        <img class="border rounded-circle img-profile dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" src="{{ user.getProfilePicURL(post['public_key']) }}" alt="Profile Photo" />#}
                                        <h6 class="text-muted card-subtitle mb-2">{{ profile_info['Profile']['Username'] }}</h6>
                                        <h4 class="card-title" style="color: #aaaaaa;">{{ post['title'] }}</h4>
                                        <p class="card-text" style="color: #aaaaaa;">{{ post['content'] }}</p>
                                        <i class="far fa-arrow-alt-circle-up" style="padding-right: 10px;font-size: 21px;"></i>
                                        <i class="far fa-caret-square-down" style="font-size: 20px;"></i>
                                        <i class="fas fa-comment" style="padding-left: 10px;font-size: 21px;"></i>
                                    </div>
                                </div>
                                <hr>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/static/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/assets/js/bs-init.js"></script>
    <script src="/static/assets/js/theme.js"></script>
    <script src="/static/messages.js"></script>
    <script src="/static/login.js"></script>
    <script src="/static/new_post.js"></script>
</body>

</html>