<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>{{ username }} - DeMoment</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/fonts/fontawesome-all.min.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&amp;display=swap">
</head>

<body id="page-top" style="color: #e0e0e0; background: #0f0f0f;">
    <div id="wrapper">
        <div class="d-flex flex-column" id="content-wrapper" style="background: #0f0f0f;">
            <div id="content">
                {% include 'navbar.html' %}
                <div class="container-fluid">
                    <div class="col-lg-4 offset-xxl-4">
                        <div class="card mb-3"
                            style="background: #1c1c1c;border-width: 0px;border-radius: 10px; margin: auto">
                            <div class="card-body text-center shadow" style="padding: 16px;">
                                <img class="rounded-circle mb-3 mt-4" src="{{ photo_url }}" alt="Profile Photo"
                                    width="160" height="160" style="width: 98px;height: 98px;">
                                <h3 style="color: #e0e0e0;">{{ username }}</h3>
                                <p style="color: #aaaaaa;">{{ description }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/bs-init.js"></script>
    <script src="/static/js/theme.js"></script>
</body>

</html>